.s-container{
  height: 100% !important;
}

.s-radio+.el-radio{
  margin-left: 0 !important;
}
.s-radio{
  margin-right: 30px;
  line-height: 32px;
}
.s-checkbox+.el-checkbox{
  margin-left: 0 !important;
}
.s-checkbox{
  margin-right: 30px;
}